body {
  font-family: 'Abel', sans-serif;
}

img {
  &:hover {
    height: 300px;
    transition: 0.5s;
  }
  transition: 0.5s;
  border-radius: 5px;
  border: 1px solid black;
  height: 100px;
}

.jumbotron {
  margin-bottom: 30px;
  margin-top: 0;
  padding-left: 50px;
  height: 400px;
  background-image: url("../../img/bikes_home.jpg");
  background-size: cover;
  color: white;
  font-size: 7em;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

h3 {
  margin-bottom: 40px;
}

.center {
  margin-top: 7px;
  margin-bottom: 40px;
  text-align: center;
}

table {
  margin-left: 25%;
}

#results-table {
  display: none;
}
