body {
  font-family: 'Oswald', sans-serif;
}

img {
  &:hover {
    height: 300px;
    transition: 0.5s;
  }
  transition: 0.5s;
  border-radius: 5px;
  border: 1px solid black;
  height: 100px;
}

.jumbotron {
  margin-bottom: 50px;
}

h3 {
  margin-bottom: 40px;
}

.center {
  margin-top: 7px;
  margin-bottom: 40px;
  text-align: center;
}

table {
  margin-left: 25%;
}

#results-table {
  display: none;
}
